* {
  /* this tell the browser to ignore the borders and calculate the width only */
  box-sizing: border-box;
}

header,
footer {
  height: 100px;
  border: 3px solid black;
  clear: both;
}

section {
  height: 500px;
  border: 3px solid black;
  float: left;
}

.small-col {
  width: 20%;
}
.big-col {
  width: 40%;
}

@media screen and (max-width: 600px) {
  .small-col,
  .big-col {
    width: 100%;
  }
}

@media screen and (min-width: 1600px) {
  body {
    width: 80%;
    margin: 0 auto;
  }
  /* section {
    width: 80%;
  } */
  section:nth-child(even) {
    background-color: lightpink;
  }
  section:nth-child(odd) {
    background-color: purple;
  }
}

@media screen and (min-width: 601px) and (max-width: 1000px) {
  /* section:nth-of-type(1) {
    background-color: aqua;
  } */
  section:first-of-type {
    background-color: aqua;
    width: 40%;
  }
  section:last-of-type {
    background-color: aqua;
    width: 40%;
  }
  section:nth-of-type(2) {
    background-color: lightpink;
    width: 60%;
  }
  section:nth-of-type(3) {
    background-color: lightpink;
    width: 60%;
  }
  /* .big-col {
    width: 60%;
  }
  .small-col {
    width: 40%;
  }
  section.small-col + section.big-col {
    background-color: lightpink;
  } */
}
