/* Box Model Hack */
* {
  /* font-family: "Open Sans", sans-serif; */
  font-family: "Varela Round", sans-serif;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
}

/******************************************
/* LAYOUT
/*******************************************/

h3,
h2,
h1 {
  /* text-shadow: rgb(200, 200, 200) 1px 1px; */
}

header {
  width: 100%;
  background-color: black;
  height: 50px;
  margin: 0;
  padding: 0 10%;
  /* font-size: 16px; */
}

.header-left {
  height: 100%;
  width: 10%;
  /* background-color: blanchedalmond; */
  float: left;
}

.header-left > img {
  height: 40px;
  width: auto;
  margin: 5px 0;
  float: left;
}

nav {
  width: 90%;
  height: 100%;
  /* background-color: coral; */
  float: left;
}

nav ul {
  height: 100%;
  padding-left: 0;
  margin: 0;
}

nav li {
  display: block;
  height: 100%;
  padding: 20px 15px 0 15px;
  margin: 0 0 0 0;
  border-left: 1px solid rgb(154, 154, 154);
  float: left;
}

nav li:hover {
  border-bottom: 8px solid red;
}

nav a {
  /* height: 40px; */
  text-decoration: none;
  color: rgb(231, 231, 231);
  width: auto;
  text-align: center;
  font-size: 1.4rem;
}
nav li:first-child {
  padding: 15px 20px 0 10px;
  margin-right: 50px;
  margin-left: 10px;
}
nav li:nth-child(10) {
  padding: 8px 10px 0 10px;
  margin: 0;
}

.material-icons {
  font-size: 2.6rem;
  vertical-align: middle;
  margin-right: 5px;
}

select {
  margin: 0;
  background-color: black;
  color: rgb(231, 231, 231);
  height: 40px;
  border: none;
  font-size: 1.4rem;
  width: 100px;
}

nav li:last-child {
  width: 200px;
  padding: 0;
}
nav form {
  margin: 0;
  padding-top: 10px;
  padding-left: 15px;
  width: 100%;
  float: right;
}

nav input {
  font-size: 1.5rem;
  padding: 5px;
  background: url(../images/outline_search_black_24dp.png) no-repeat;
  background-color: white;
  background-size: 13%;
  background-position: right;
  padding-right: 30px;
}
main {
  width: 80%;
  margin: 0 auto;
}
section.main-title {
  height: 50px;
  margin-top: 40px;
}
.main-title > h2 {
  width: 50%;
  height: 100%;
  font-size: 2.5rem;
  color: rgb(62, 62, 62);
  float: left;
  padding: 0;
  margin: 0;
}
.main-title h2 + h2 {
  color: grey;
  text-align: right;
}
.main-news {
  width: 100%;
  height: 25vw;
  color: white;
}

.main-news-l {
  width: 50%;
  height: 100%;
  float: left;
  background: no-repeat url(../images/_123186378_macronlow.jpg);
  background-size: cover;
  /* padding-top: 15vw; */
  position: relative;
}

.main-news-l div {
  position: absolute;
  bottom: 15px;
  left: 0;
  padding: 0 20px;
}
.main-news-l h1 {
  font-size: 3.5rem;
  margin: 0;
}
.main-news-l p {
  font-size: 1.7rem;
  padding-top: 10px;
  padding-bottom: 10px;
  /* padding: 0 20px 10px 20px; */
  margin: 0;
}
.main-news-l span {
  font-size: 1.9rem;
  /* padding-top: 20px; */
  /* padding: 0 20px 10px 20px; */
  margin: 0;
  padding-left: 5px;
  border-left: 3px solid red;
}
.main-news-r {
  width: 50%;
  height: 100%;
  float: left;
  padding-left: 20px;
}

.main-news-r section {
  width: 49%;
  height: 48%;
  /* border: 1px solid blue; */
  float: left;
  /* padding-top: 7vw; */
  position: relative;
}
.main-news-r h3 {
  font-size: 2rem;
  /* padding: 0 15px 10px 15px; */
  padding-bottom: 10px;
  margin: 0;
  /* position: absolute;
  bottom: 15px;
  right: 0; */
}

.main-news-r div {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 5px 15px;
  background: linear-gradient(transparent, rgb(90, 90, 90));
}

.main-news-r span {
  font-size: 1.5rem;
  /* padding: 0 15px 10px 15px; */
  margin: 0;
  padding-left: 5px;
  /* position: absolute;
  bottom: 5px;
  left: 0; */
  border-left: 3px solid lightblue;
}

.main-news-r section:nth-child(1) {
  background: no-repeat url(../images/_123115892_tpotd_ks_0181.jpg);
  background-size: cover;
  margin: 0 1% 1% 0;
}

.main-news-r section:nth-child(2) {
  background: no-repeat url(../images/_123173587_gettyimages-1237002356.jpg);
  background-size: cover;
  margin: 0 0 1% 1%;
}
.main-news-r section:nth-child(3) {
  background: no-repeat url(../images/p0bmp43w.jpg);
  background-size: cover;
  margin: 1% 1% 0 0;
}
.main-news-r section:nth-child(4) {
  background: no-repeat url(../images/p0bl7hz8.jpg);
  background-size: cover;
  margin: 1% 0 0 1%;
}

.secondary-news {
  width: 80%;
  height: 600px;
  /* background-color: cadetblue; */
  margin: 0 auto;
}

section.secondary-title {
  height: 50px;
  margin-top: 40px;
  /* background-color: aquamarine; */
}
.secondary-title > h2 {
  /* width: 50%; */
  /* height: 100%; */
  font-size: 2.5rem;
  color: rgb(62, 62, 62);
  /* float: left; */
  padding: 0;
  margin: 0;
  padding-left: 5px;
  border-left: 4px solid red;
}

/* .secondary-news > div {
  height: 70px;
} */
/* .secondary-news > h2 {
  height: 50px;
  font-size: 2.5rem;
  color: rgb(62, 62, 62);
  padding-top: 20px;
  margin: 0;
  border-left: 3px solid red;
} */
.secondary-news section:not(.secondary-title) {
  /* background-color: royalblue; */
  height: 550px;
  width: 33.333%;
  float: left;
  /* border: 1px solid black; */
}

.secondary-news .sec-news-img-1,
.secondary-news .sec-news-img-2,
.secondary-news .sec-news-img-3,
.secondary-news h4,
.secondary-news p,
.secondary-news span {
  display: block;
  width: 90%;
  margin: 0 auto;
}

.secondary-news h4 {
  font-size: 2rem;
  padding: 10px 0;
}
.secondary-news p {
  font-size: 1.4rem;
  line-height: 1.5;
  padding-bottom: 10px;
  min-height: 90px;
}
.secondary-news span {
  font-size: 1.5rem;
  color: grey;
  border-left: 3px solid red;
  padding-left: 5px;
}

span:hover {
  color: orange;
  cursor: pointer;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
