/* Box Model Hack */
* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;

  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

html {
  font-size: 62.5%;
}
body {
  width: 80%;
  margin: 0 auto;
  min-width: 400px;
  --back-all: rgb(243, 248, 251);
  --headline: rgb(40, 61, 79);
  --text: rgb(56, 79, 97);
  --text-reversed: rgb(243, 248, 251);
  --button: rgb(40, 61, 79);
  --button--reversed: rgb(220, 230, 238);
  --textfield: rgb(220, 230, 238);
  --placeholder: rgb(220, 230, 238);
}

/******************************************
/* LAYOUT
/*******************************************/

/* Header */
header {
  height: 70px;
  padding: 10px 20px;
  background-color: var(--back-all);
}

.header-logo {
  width: 20%;
  height: 80%;
  float: left;
  padding-top: 5px;
}
.header-logo a {
  display: none;
}
div.header-logo > img {
  height: 100%;
  display: block;
  float: left;
}

nav {
  width: 60%;
  float: left;
  height: 100%;
}

nav ul {
  text-align: center;
}
header li {
  display: inline-block;
  margin: 15px 20px 0 0;
}
nav a {
  text-decoration: none;
  color: var(--text);
  font-size: 1.5rem;
  padding: 5px 10px;
}
nav a:hover {
  background-color: var(--button);
  color: var(--text-reversed);
  border-radius: 5px;
}

.header-right {
  float: right;
  width: 20%;
  height: 100%;
  margin: 0;
  padding: 0;
}
a.button {
  color: var(--text-reversed);
  background-color: var(--button);
  width: 100px;
  padding: 8px 0;
  font-weight: bold;
  font-size: 1.3rem;
  float: right;
  margin: 5px 0;
  text-decoration: none;
  text-align: center;
}
a.button:hover {
  color: var(--text);
  background-color: var(--button--reversed);
}

/* Main */
main {
  height: 60vh;
  background-color: var(--back-all);
  width: 100%;
  margin: 0;
}
.main-left,
.main-right {
  width: 50%;
  height: 100%;
  float: left;
}
.main-left {
  padding: 5% 10%;
}
.main-right {
  padding: 3% 0;
}
.main-right img {
  width: 90%;
  float: right;
}
main h1 {
  font-size: 4.2rem;
  color: var(--headline);
}
main p {
  font-size: 1.7rem;
  line-height: 1.5;
  color: var(--text);
  margin-top: 30px;
  padding-right: 10px;
}
main form {
  width: 100%;
  height: 35px;
}
form input {
  width: 75%;
  float: left;
  font-size: 1.4rem;
  color: var(--text);
  background-color: var(--textfield);
  padding: 7px 10px;
  margin: 5px 0;
  height: 100%;
}
form a.button {
  width: 25%;
  float: left;
  font-weight: normal;
  height: 35px;
}
/* Grid section */
.grid-section {
  height: 400px;
  background-color: var(--back-all);
  padding: 3% 10%;
}
.grid-section section {
  width: 25%;
  height: 100%;
  float: left;
  padding: 10px 20px 10px 0;
}
.grid-section h3 {
  font-size: 2rem;
  text-align: left;
  padding: 15px 0;
  color: var(--text);
}
.grid-section p {
  font-size: 1.6rem;
  text-align: left;
  line-height: 1.5;
  color: var(--text);
  padding-right: 20px;
  padding-bottom: 20px;
}
.grid-section span {
  /* font-size: 2rem; */
  /* padding-top: 5px; */
  vertical-align: text-bottom;
  /* float: right; */
}
.grid-section a {
  color: var(--text);
  font-weight: bold;
  font-size: 1.6rem;
  text-decoration: none;
}
.grid-section a:hover {
  color: var(--text);
  background-color: var(--button--reversed);
  padding: 5px 10px 5px 0;
}

/* second-section */
.second-section {
  height: 500px;
  background-color: white;
  width: 100%;
  padding: 5% 10%;
}

.second-section h4 {
  font-size: 4.5rem;
  color: var(--headline);
  width: 50%;
}
.second-section p {
  font-size: 1.7rem;
  line-height: 1.5;
  color: var(--text);
  margin-top: 30px;
  padding-right: 10px;
  width: 50%;
}

.placeholder {
  width: 100%;
  height: 150px;
  background-color: var(--placeholder);
  margin: 40px 0;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

@media screen and (max-width: 1200px) {
  body {
    width: 100%;
  }
}
@media (min-width: 600px) and (max-width: 800px) {
  header {
    padding: 10px 5px;
  }
  .header-logo {
    width: 15%;
  }
  .header-right {
    width: 15%;
  }
  nav {
    width: 70%;
  }
  header li {
    margin: 15px 5px 0 0;
  }
  nav a {
    font-size: 1.5rem;
    padding: 5px 5px;
  }
  .main-left h1 {
    font-size: 4rem;
  }

  .main-left p {
    font-size: 1.5rem;
  }

  main {
    height: 45vh;
  }
  .main-left {
    padding: 5% 0 0 2%;
    width: 60%;
  }
  .main-right {
    padding: 5% 0;
    width: 40%;
  }
  .main-right img {
    width: 90%;
    float: right;
  }
  main form {
    width: 90%;
    height: 35px;
  }
  /* Grid section */
  .grid-section {
    height: 600px;
    padding: 3% 5%;
  }
  .grid-section section {
    width: 50%;
    height: 50%;
  }
  .second-section {
    padding: 5% 5%;
  }
  .second-section h4 {
    font-size: 4rem;
    color: var(--headline);
    width: 80%;
  }
}

@media screen and (max-width: 599px) {
  /* Header */
  header {
    padding: 10px 10px;
    border-bottom: 1px solid var(--placeholder);
  }

  .header-logo {
    width: 100%;
  }
  .header-logo a {
    display: inline;
    float: left;
  }
  .header-logo span {
    font-size: 3rem;
    color: var(--text);
    margin-right: -30px;
  }
  div.header-logo > img {
    margin: 0 auto;
    float: none;
    display: block;
  }

  nav,
  .header-right {
    display: none;
  }

  /* Main */
  main {
    height: 90vh;
  }
  .main-left,
  .main-right {
    width: 100%;
    float: none;
  }
  .main-left {
    padding: 5% 5%;
    height: 60%;
  }
  .main-right {
    padding: 3% 0;
    height: 40%;
  }
  .main-right img {
    width: 80%;
    float: right;
  }
  main h1 {
    font-size: 4.2rem;
  }
  main p {
    font-size: 2rem;
    margin-top: 90px;
    padding-right: 5px;
    text-align: justify;
    text-justify: inter-word;
  }
  main form {
    width: 100%;
    height: 35px;
  }
  form input {
    width: 100%;
  }
  form a.button {
    width: 100%;
    font-weight: bold;
    height: 35px;
    padding-top: 10px;
    padding-bottom: 0;
    margin-top: 10px;
  }
  /* Grid section */
  .grid-section {
    height: 800px;
    padding: 3% 5%;
  }
  .grid-section section {
    width: 100%;
    height: 25%;
    float: none;
    padding: 30px 20px 10px 0;
  }
  .grid-section img {
    width: 10%;
    display: block;
    float: left;
    margin-right: 20px;
    padding: 12px 0;
  }
  .grid-section h3 {
    width: 80%;
    font-size: 3rem;
    float: left;
    font-weight: normal;
  }
  .grid-section p {
    clear: both;
    font-size: 1.7rem;
    padding-left: 10px;
    padding-right: 0;
    padding-bottom: 10px;
  }
  .grid-section a {
    float: right;
  }
  .grid-section span {
    font-size: 2rem;
    /* padding-top: 5px; */
    vertical-align: text-bottom;
    float: right;
  }

  /* second-section */
  .second-section {
    height: 450px;
    background-color: white;
    width: 100%;
    padding: 5% 5%;
  }

  .second-section h4 {
    width: 100%;
    font-size: 4rem;
  }
  .second-section p {
    width: 100%;
  }

  .placeholder {
    width: 100%;
    height: 150px;
    background-color: var(--placeholder);
    margin: 40px 0;
  }
}
