/* @import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap"); */

:root {
  --yellow: #f9ca24;
}

* {
  /* font-family: "Nunito", sans-serif; */
  font-family: "Handlee", cursive;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  /* text-transform: capitalize; */
  transition: all 0.2s linear;
}

*::selection {
  background: var(--yellow);
  color: #333;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  width: 1.4rem;
}

html::-webkit-scrollbar-track {
  background: #222;
}

html::-webkit-scrollbar-thumb {
  background: var(--yellow);
}

body {
  background: #111;
  overflow-x: hidden;
  padding-left: 35rem;
}

section {
  min-height: 100vh;
  padding: 1rem;
}

.btn {
  padding: 0.7rem 3rem;
  background: #333;
  color: var(--yellow);
  cursor: pointer;
  margin-top: 1rem;
  font-size: 3rem;
  /* border-radius: 5rem; */
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  border-bottom-right-radius: 225px 15px;
  border-bottom-left-radius: 15px 255px;
  border: 1px solid var(--yellow);
  transform: skewX(-2deg);
  /* for hover */
  background: linear-gradient(to bottom, var(--yellow) 50%, black 50%);
  background-size: 100% 200%;
  background-position: right bottom;
  transition: all 0.3s ease-out;
}

.btn i {
  padding: 0 0.5rem;
  font-size: 2rem;
}

.btn:hover {
  /* background: var(--yellow); */
  /* border: 3px solid var(--yellow); */
  background-position: left top;
  color: black;
}

.heading {
  text-align: center;
  margin: 0 6rem;
  font-size: 5rem;
  padding: 1rem;
  border-bottom: 0.1rem solid #fff4;
  color: #fff;
}

.heading span {
  color: var(--yellow);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 100%;
  width: 35rem;
  background: #1a1a1a;
  /* background: white; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  text-align: center;
}

header .user img {
  height: 20rem;
  width: 20rem;
  object-fit: cover;
  margin-bottom: 3rem;
  border: 0.7rem solid var(--yellow);
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  border-bottom-right-radius: 225px 15px;
  border-bottom-left-radius: 15px 255px;
  transform: rotate(-5deg);
}

header .user .name {
  font-size: 4.5rem;
  color: var(--yellow);
}

header .user .post {
  font-size: 3rem;
  color: #eee;
}

header .navbar {
  width: 100%;
}

header .navbar ul {
  list-style: none;
  padding: 1rem 3rem;
}

header .navbar ul li a {
  display: block;
  padding: 1rem;
  margin: 2.5rem 0;
  background: transparent;
  /* color: var(--yellow); */
  color: var(--yellow);
  font-size: 3rem;
  /* border-radius: 5rem; */

  transition: all 0.5s ease;

  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  border-bottom-right-radius: 225px 15px;
  border-bottom-left-radius: 15px 255px;
  border: 1px solid var(--yellow);
  transform: skewX(-3deg);

  /* hover effecgt */
  background: linear-gradient(to right, var(--yellow) 50%, black 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.3s ease-out;
}

header .navbar ul li a:hover {
  transform: skewX(0deg);
  background-position: left bottom;
  color: black;
}

#menu {
  position: fixed;
  top: 2rem;
  right: 2rem;
  background: #333;
  color: var(--yellow);
  cursor: pointer;
  font-size: 3rem;
  padding: 1rem 1.5rem;
  z-index: 1000;
  display: none;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  border-bottom-right-radius: 225px 15px;
  border-bottom-left-radius: 15px 255px;
  border: 1px solid var(--yellow);
  transform: skewX(2deg);
}

.home {
  display: flex;
  justify-content: center;
  flex-flow: column;
  padding: 0 15rem;
}

.home h3 {
  font-size: 4.5rem;
  color: #fff;
  padding-bottom: 2.5rem;
}

.home h1 {
  font-size: 8rem;
  padding-bottom: 1.5rem;
  color: #fff;
}

.home h1 span {
  color: var(--yellow);
  font-size: 9rem;
}

.home p {
  font-size: 4rem;
  color: #eee;
  padding: 1rem 0;
}
.home a i {
  color: inherit;
  transform: rotate(5deg);
}

.about .row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1rem 0;
}

.about .row .info {
  flex: 1 1 100rem;
  padding: 2rem 2rem;
  padding-left: 8rem;
  /* background-color: green; */
}

.about .row .info h3 {
  font-size: 3rem;
  color: #eee;
  padding: 1rem 0;
  font-weight: normal;
  text-indent: -2rem;
}

.about .row .info h3 span {
  color: var(--yellow);
  padding: 0 0.5rem;
}

.about .row .logoes {
  flex: 1 1 100rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.about .row .logoes .box {
  width: 20rem;
  /* background: #222; */
  text-align: center;
  padding: 2rem;
  margin: 2rem;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  border-bottom-right-radius: 225px 15px;
  border-bottom-left-radius: 15px 255px;
  border: 1px solid var(--yellow);
  transform: skewX(-2deg);
}

.about .row .logoes .box span {
  font-size: 8rem;
  color: var(--yellow);
}

.about .row .logoes .box h3 {
  font-size: 3rem;
  color: #fff;
}

.portfolio .box-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem 0;
}
.portfolio .box-container a {
  color: inherit;
}

.portfolio .box-container .box {
  /* height: 30rem; */
  width: 50rem;
  /* border-radius: 1rem; */
  margin: 2rem;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(25, 25, 25);
  flex-direction: column;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  border-bottom-right-radius: 225px 15px;
  border-bottom-left-radius: 15px 255px;
  border: 1px solid var(--yellow);
}

.portfolio .box-container .box img {
  /* height: 90%; */
  width: 90%;
  /* object-fit: contain; */
  background-size: contain;
}
.portfolio .box-container .box h3 {
  color: var(--yellow);
  font-size: 3.5rem;
  padding-top: 2rem;
}
.portfolio .box-container .box p {
  color: white;
  font-size: 2.5rem;
  padding: 2rem 3rem;
  /* background-color: red; */
}

.portfolio .box-container .box:hover {
  border: 3px solid var(--yellow);
  /* border: 1px solid rgba(253, 247, 133, 0.245); */
}

.portfolio .box-container .box:hover img {
  transform: scale(1.1);
}

.contact .row {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}

.contact .row .contact-details {
  flex: 1 1 30rem;
  padding: 4rem;
  padding-bottom: 0;
  margin: 2rem;
}

.contact .row form {
  flex: 1 1 45rem;
  padding: 2rem;
  margin: 2rem;
  margin-bottom: 4rem;
}

.contact .row form .box {
  padding: 1.5rem;
  margin: 1rem 0;
  background: #3333;
  color: var(--yellow);
  text-transform: none;
  font-size: 2.7rem;
  width: 100%;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  border-bottom-right-radius: 225px 15px;
  border-bottom-left-radius: 15px 255px;
  border: 1px solid var(--yellow);
}

.contact .row form .box::placeholder {
  text-transform: capitalize;
}

.contact .row form .message {
  height: 15rem;
  resize: none;
}

.contact .row .contact-details .title {
  /* text-transform: uppercase; */
  color: var(--yellow);
  font-size: 4rem;
  padding-bottom: 2rem;
}

.contact .row .contact-details .info p {
  display: flex;
  align-items: center;
  font-size: 3rem;
  color: #eee;
  padding: 1rem 0;
  font-weight: normal;
}
.contact .row .contact-details .info h3 {
  display: flex;
  align-items: center;
  font-size: 3rem;
  color: #eee;
  padding: 1rem 0;
  font-weight: normal;
}

.contact .row .contact-details .info h3 i {
  padding-right: 1rem;
  color: var(--yellow);
}
.contact .row .contact-details .info h3 a {
  color: inherit;
  /* background-color: red; */
}
.contact .row .contact-details .info h3 a:hover {
  color: var(--yellow);
}

.top {
  position: fixed;
  bottom: 7.5rem;
  right: 2rem;
  z-index: 100;
  display: none;
}

/* media queries  */

@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }

  .home {
    padding: 1rem 4rem;
  }
}

@media (max-width: 991px) {
  header {
    left: -120%;
  }

  #menu {
    display: block;
  }

  header.toggle {
    left: 0%;
  }

  body {
    padding: 0;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 45%;
  }
}

@media (max-width: 400px) {
  header {
    width: 100vw;
  }

  .heading {
    margin: 0 3rem;
  }

  .about .row .logoes .box {
    width: 100%;
  }

  .education .box-container .box {
    width: 100%;
  }

  .portfolio .box-container .box {
    width: 100%;
  }

  .contact .row form {
    margin: 3rem 0;
  }
}
