/* Box Model Hack */
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  font-family: "Cinzel", serif;
  /* font-family: "Varela Round", sans-serif; */
  width: 80%;
  margin: 0 auto;

  /* colors */
  --main_title: rgb(232, 230, 231);
  --vid_section: rgb(241, 242, 245);
}

p {
  font-family: "Varela Round", sans-serif;
  font-size: 1.9rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}
p + p {
  padding-top: 20px;
}

nav .material-icons-outlined {
  font-size: 2rem;
}

p {
  line-height: 1.7;
  font-size: 1.6rem;
}
h1 {
  font-size: 7rem;
  margin-bottom: 15px;
}
h2 {
  font-size: 4rem;
  line-height: 1.2;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2rem;
}
h5 {
  font-size: 1.6rem;
}

h6 {
  font-size: 1.4rem;
  letter-spacing: 1.2px;
}

ul {
  padding: 0;
  margin: 0;
}
li {
  display: block;
}
a {
  text-decoration: none;
  color: black;
}

header,
footer {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
}

header .mobile_header {
  display: none;
}

.header_l .logo {
  font-family: "Birthstone", cursive;
  font-size: 4rem;
  text-align: center;
  padding: 0;
  margin: 0;
}

/******************************************
/* LAYOUT
/*******************************************/

/* Header */
header {
  height: 80px;
  width: 100%;
}
.header_l,
.header_r {
  width: 15%;
  height: 100%;

  float: left;
}
.header_m {
  width: 70%;
  height: 100%;
  float: left;
}
.header_m {
  padding-top: 30px;
}
.header_r {
  padding-top: 20px;
}
.header_l {
  padding-top: 5px;
}

/* Mian */
main {
  height: 120vh;
  width: 100%;
}
.main_t {
  width: 100%;
  height: 70%;
  background: url(https://cdn.glitch.global/7b148194-4889-41d8-ad7d-9da182422e09/main_back.png?v=1645212106004)
    no-repeat -10px -50px;
  background-size: 102%;
}
.main_t_l {
  width: 80%;
  height: 100%;
  /* background-color: blue; */
  float: left;
  padding-left: 12%;
  padding-top: 10%;
}
.main_t_r {
  width: 20%;
  height: 100%;

  float: left;
  position: relative;
}

.main_b {
  width: 100%;
  height: 30%;
  padding: 2% 10%;

  background-color: transparent;
}
.main_b section {
  width: 29.333%;
  height: 100%;
  float: left;
  margin: 0 2%;
  /* background-color: rgb(163, 163, 163); */
}

/* Video section */
.vid_sec {
  height: 40vh;
  width: 100%;
  padding: 4% 12%;
  background-color: var(--vid_section);
}
.vid_l,
.vid_r {
  width: 50%;
  height: 100%;
  float: left;
}

/* Three grids */
.grid_3 {
  width: 100%;
  height: 80vh;

  padding: 5% 12%;
  position: relative;
}

.grid_3_1,
.grid_3_2,
.grid_3_3 {
  width: 29.333%;
  height: 100%;
  float: left;
  margin: 0 2%;
}

/* Offer */
.offer {
  width: 100%;
  height: 50vh;

  background: url(https://cdn.glitch.global/7b148194-4889-41d8-ad7d-9da182422e09/color_day_offer.jpg?v=1645212101200)
    no-repeat 50% 50%;
  background-size: cover;
  padding: 8% 0;
}

/* Lookbook */
.lookbook {
  height: 120vh;
  width: 100%;

  padding: 5% 18%;
  margin-top: 80px;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

nav ul li {
  display: inline-block;
  margin: 0 25px;
  vertical-align: text-top;
}
nav ul li a:hover {
  border-bottom: 3px solid black;
}

nav ul {
  text-align: center;
}

/* button */
.custom_btn {
  font-size: 1.5rem;
  padding: 10px 20px;
  background-color: black;
  color: white;
  display: inline-block;
}
.custom_btn span {
  letter-spacing: -1px;
  margin-right: 10px;
}
.light {
  color: black;
  background-color: white;
}

.custom_btn:hover {
  color: black;
  background-color: white;
  border: 1px solid black;
}
.custom_btn.light:hover {
  background-color: black;
  color: white;
  border: 1px solid white;
}

.main_t_l_text {
  color: var(--main_title);
}

.main_t_l_card {
  height: 38%;
  width: 23%;
  background-color: black;
  padding-top: 5px;
}
.main_t_l_card h6 {
  color: white;
  margin: 20px 0;
  border-left: 3px solid white;
  padding: 7%;
}

.main_t_l_card h5 {
  padding-left: 7%;
  color: var(--main_title);
}
.main_t_l_card h5 span {
  font-size: 3rem;
}
.main_t_l_card .custom_btn {
  margin-left: 7%;
  margin-top: 12%;
}

.main_t_l_button {
  padding: 40px 0;
}

.main_t_r_ver {
  height: 80%;
  width: 100%;
}

.main_t_r_ver h5 {
  writing-mode: vertical-rl;
  position: absolute;
  top: 30%;
  right: 25px;
  color: var(--main_title);
  font-size: 1.7rem;
}

.main_t_r_cirbtn {
  width: 100%;
  height: 20%;

  padding-right: 15%;
  padding-top: 20px;
}

.main_t_r_cirbtn .material-icons-outlined {
  color: white;
  float: right;
  font-size: 4rem;
}
.main_t_r_cirbtn .material-icons-outlined:hover {
  color: black;
}

.main_b section > img {
  display: block;
  margin: 0 auto;
}
.main_b section > h4 {
  text-align: center;
  padding: 20px 0;
}
.main_b section > p {
  text-align: center;
}

.vid_r img {
  max-height: 100%;
  display: block;
  margin: 0 auto;
}

.vid_l p {
  padding: 20px 20px 20px 0;
}

.grid_3 .grid_3_1 img {
  max-height: 80%;
  display: block;
  margin: 0 auto;
}
.grid_3 .grid_3_1 .custom_btn {
  text-align: center;
  display: block;
  margin: 0 auto;
  width: 60%;
}
.grid_3 .custom_btn span + span {
  font-size: 1.7rem;
}

.grid_3 .btn_cont {
  margin: 0;
  padding: 0;
  display: inline-block;
  width: 100%;
  margin-top: -20px;
}

.offer h6 {
  color: black;

  padding: 1% 7%;
  font-size: 2rem;
}

.offer h5 {
  padding-left: 7%;
  font-size: 3rem;
}
.offer h5 span {
  font-size: 4rem;
}
.offer .custom_btn {
  margin-left: 7%;
  margin-top: 2%;
}

/* lookbook */

.lookbook section {
  width: 30%; /*(29.333%) */
  height: 30vh;
  float: left;
  margin: 10px;
}

.lookbook section.img_1 {
  height: 30vh;
}
.lookbook section.img_2 {
  height: 60vh;
}
.lookbook section.img_3 {
  height: 30vh;
}
.lookbook section.img_4 {
  height: 60vh;

  clear: both;
  margin-top: -29vh;
}
.lookbook section.img_5 {
  height: 30vh;
}
.lookbook section.img_6 {
  height: 60vh;

  margin-top: -29vh;
}

.lookbook img {
  width: 100%;
  height: 100%;
}

hr {
  width: 30px;
  padding-bottom: 3px;
  background-color: black;
  border-radius: 5px;
}
.lookbook h2 {
  text-align: center;
}

/* Mobile responsive */
@media all and (max-width: 500px) {
  body {
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }

  /* font sizes */
  p {
    line-height: 1.3;
    font-size: 1.4rem;
  }
  h1 {
    font-size: 5rem;
    margin-bottom: 15px;
  }
  h2 {
    font-size: 4rem;
    line-height: 1.2;
  }

  header {
    padding: 20px;
    margin: 0;
    height: 60px;
  }

  .header_l,
  .header_m,
  .header_r {
    display: none;
  }

  header .mobile_header {
    display: block;
  }
  .mobile_header a.hamburger {
    float: left;
  }
  .mobile_header .logo {
    font-family: "Birthstone", cursive;
    font-size: 3rem;
    text-align: left;
    padding: 0;
    margin: 0;
    margin-top: -10px;
    margin-left: 10px;
    display: inline-block;
  }
  header .mobile_header ul {
    float: right;
  }
  header .mobile_header li {
    display: inline-block;
  }

  /* Mian */
  main {
    height: 170vh;
  }
  .main_t {
    height: 40%;
    background: url(https://cdn.glitch.global/7b148194-4889-41d8-ad7d-9da182422e09/main_back.png?v=1645212106004)
      no-repeat 0px 0px rgb(159, 143, 143);
    background-size: 140%;
  }
  .main_t_l {
    width: 80%;
    height: 100%;
    padding: 30px 20px;
  }
  .main_t_r {
    width: 100%;
    height: 6%;
  }

  .main_b {
    width: 100%;
    height: 60%;
    padding: 20px;
    padding-top: 80px;
  }
  .main_b section {
    width: 100%;
    height: 33.333%;
    padding-top: 40px;
    margin: 0;
  }

  .main_t_l_button {
    padding: 40px 0;
    /* background-color: red; */
    padding-top: 50px;
  }

  .main_t_l_card {
    height: 50%;
    width: 100%;
  }

  .main_t_r_ver {
    height: 10%;
    background-color: rgb(159, 143, 143);
    padding: 20px;
    text-align: center;
  }

  .main_t_r_ver h5 {
    writing-mode: inherit;
    position: static;

    color: black;
  }

  .main_t_r_cirbtn {
    height: 50px;
    padding: 0;
    background-color: rgb(159, 143, 143);
    padding: 0 39%;
  }

  .main_t_r_cirbtn .material-icons-outlined {
    color: black;
    font-size: 4rem;
  }

  .main_b section > h4 {
    padding: 15px 0;
  }

  /* Video section */
  .vid_sec {
    height: 70vh;

    padding: 20px;
  }
  .vid_l,
  .vid_r {
    width: 100%;
    height: 50%;
  }
  .vid_r img {
    max-width: 100%;
  }

  /* Three grids */
  .grid_3 {
    height: 140vh;

    padding: 20px;
  }

  .grid_3_1,
  .grid_3_2,
  .grid_3_3 {
    width: 100%;
    height: 33.333%;

    margin: 0;
  }

  /* Offer */
  .offer {
    width: 100%;
    height: 40vh;

    background: url(https://cdn.glitch.global/7b148194-4889-41d8-ad7d-9da182422e09/color_day_offer.jpg?v=1645212101200)
      no-repeat 20% 50%;
    background-size: 170%;
    padding: 8% 0;
    padding-right: 30%;
  }

  /* Lookbook */
  .lookbook {
    height: 70vh;

    padding: 20px;
  }

  /* lookbook */

  .lookbook section {
    width: 30%; /*(29.333%) */
    height: 30vh;
    float: left;
    margin: 5px;
  }

  .lookbook section.img_1 {
    height: 15vh;
  }
  .lookbook section.img_2 {
    height: 30vh;
  }
  .lookbook section.img_3 {
    height: 15vh;
  }
  .lookbook section.img_4 {
    height: 30vh;

    clear: both;
    margin-top: -14vh;
  }
  .lookbook section.img_5 {
    height: 15vh;
  }
  .lookbook section.img_6 {
    height: 30vh;

    margin-top: -14vh;
  }

  .lookbook img {
    width: 100%;
    height: 100%;
  }

  hr {
    width: 30px;
    padding-bottom: 3px;
    background-color: black;
    border-radius: 5px;
  }
  .lookbook h2 {
    text-align: center;
  }
}
