* {
  /* this tell the browser to ignore the borders and calculate the width only */
  box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  visibility: hidden;
  height: 0;
  line-height: 0;
  clear: both;
}

header,
footer {
  height: 100px;
  border: 1px solid black;
  clear: both;
}

.one-col {
  height: 200px;
  border: 1px solid black;
  background-color: lightgoldenrodyellow;
}

.two-col {
  background-color: lightgreen;
  padding: 20px;
}

.first-col,
.second-col {
  height: 300px;
  border: 1px solid black;
  float: left;
}
.first-col {
  width: 40%;
}
.second-col {
  width: 60%;
}

@media screen and (max-width: 600px) {
  /* .one-col {
    margin: 0;
  } */
  .two-col {
    padding: 0;
  }
  .first-col {
    width: 100%;
    float: none;
  }
  .second-col {
    width: 100%;
    float: none;
  }
}

@media (min-width: 610px) and (max-width: 900px) {
  .two-col {
    padding: 0;
  }
  .first-col,
  .second-col {
    width: 50%;
  }
}

@media screen and (min-width: 1600px) {
  .one-col {
    width: 90%;
    margin: 0 auto;
  }
  .two-col {
    width: 90%;
    margin: 0 auto;
  }
}
